---
---
$background: unquote('{{ site.data.colors.white.background }}');
$foreground: unquote('{{ site.data.colors.white.foreground }}');
$muted: unquote('{{ site.data.colors.white.muted }}');

$primary: unquote('{{ site.data.colors.white.primary }}');
$secondary: unquote('{{ site.data.colors.white.secondary }}');
$tertiary: unquote('{{ site.data.colors.white.tertiary }}');

@import 'base';
