---
---
$background: unquote('{{ site.data.colors.red.background }}');
$foreground: unquote('{{ site.data.colors.red.foreground }}');
$muted: unquote('{{ site.data.colors.red.muted }}');

$primary: unquote('{{ site.data.colors.red.primary }}');
$secondary: unquote('{{ site.data.colors.red.secondary }}');
$tertiary: unquote('{{ site.data.colors.red.tertiary }}');

@import 'base';
