---
---
$background: unquote('{{ site.data.colors.yellow.background }}');
$foreground: unquote('{{ site.data.colors.yellow.foreground }}');
$muted: unquote('{{ site.data.colors.yellow.muted }}');

$primary: unquote('{{ site.data.colors.yellow.primary }}');
$secondary: unquote('{{ site.data.colors.yellow.secondary }}');
$tertiary: unquote('{{ site.data.colors.yellow.tertiary }}');

@import 'base';
