// Style for feed

.feed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .post-item {
    @include media(1100px) {
      width: 100%;
      padding: 0;
      margin: 8px 0;
    }
    width: 50%;
    padding: 16px 16px 0 0;
    box-sizing: border-box;
    display: inline-block;

    &.featured {
      width: 100%;
    }

    .post-link {
      animation: none !important;

      .img {
        @include media(1500px) {
          height: 250px;
          border-radius: 4px;
        }
        @include media(800px) {
          filter: brightness(1) grayscale(0);
          background-color: #000;
        }
        transition: background-color 0.2s, opacity 0.2s, filter 0.2s;
        filter: brightness(0.7) grayscale(1);
        background-color: #333;
        background-blend-mode: screen;
        height: 500px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        h1 {
          @include media(1500px) {
            font-size: 4vw;
          }
          @include media(800px) {
            font-size: 3em;
          }
          padding: 4px 16px 0 16px;
          line-height: 1.2em;
          transition: color 0.5s;
          font-weight: normal;
          color: #eee;
          text-shadow: 0 0 25px rgba(25, 25, 25, 0.4);
          overflow-wrap: break-word;
          word-wrap: break-word;
          hyphens: auto;
          overflow-x:hidden;
        }

        .post-info {
          @include media(1500px) {
            border-radius: 4px;
            font-size: 1.2em;
          }
          position: absolute;
          bottom: 16px;
          left: 16px;
          overflow: hidden;
          font-family: 'Bebas Neue', sans-serif;
          font-weight: 300;
          font-size: 1.5em;
          text-shadow: 0 0 5px rgba(25, 25, 25, 0.6);

          %post-info-items {
            @include media(800px) {
              left: 0;
              opacity: 1;
            }
            left: -300px;
            opacity: 0;
            position: relative;
          }

          .name {
            @extend %post-info-items;
            transition: left 0.2s, opacity 0.3s;
            position: relative;
            color: $primary;
          }

          .value {
            @extend %post-info-items;
            transition: left 0.2s, opacity 0.3s;
            position: relative;
            color: $secondary;

            + .value {
              color: $tertiary;
            }

          }

          .date {
            @extend %post-info-items;
            transition: left 0.2s, opacity 0.3s;
            position: relative;
            color: $tertiary;
          }
        }

        .arrow-right {
          content: "";
          @include media(1500px) {
            border-width: 15px 0 15px 26.0px;
          }
          filter: drop-shadow(0 0 0px rgba(25, 25, 25, 0));
          transform: scale(0);
          position: absolute;
          right: 100%;
          bottom: 24px;
          visibility: hidden;
          opacity: 0;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 43.3px;
          border-color: transparent transparent transparent $primary;
          transition: opacity 0.2s, visibility 0s 0.2s, right 0s 0.2s, border-color 0s 0.2s, filter 0.2s, transform 0.2s;
        }
      }

      // HOVER

      &:hover .img {
        background-color: #000;
        filter: brightness(1) grayscale(0);

        h1 {
          animation-name: flicker;
          animation-duration: 0.2s;
          animation-iteration-count: 1;
          color: #eee;
        }

        .post-info {
          .name {
            transition: left 0.5s !important;
            left: 0;
            opacity: 1;
          }

          .value {
            transition: left 0.5s 0.1s, opacity 0.5s 0.2s !important;
            left: 0;
            opacity: 1;

            + .value {
              transition: left 0.5s 0.2s, opacity 0.5s 0.3s !important;
            }

          }

          .date {
            transition: left 0.3s 0.4s, opacity 0.3s 0.5s !important;
            left: 0;
            opacity: 1;
          }
        }

        .arrow-right {
          filter: drop-shadow(0 0 4px rgba(25, 25, 25, 0.4));
          transform: scale(1);
          visibility: visible;
          opacity: 1;
          right: 16px;
          transition: border-color 0.5s, right 0.5s, opacity 0.5s, filter 0.3s 0.2s !important;
        }
      }

    }
  }
}
