// Style for a post page

.post {

  .post-img {
    padding-top: 16px;
    div {
      @include media(1100px) {
        height: 250px;
      }
      height: 500px;
      border-radius: 10px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .post-title {
    @include media(1500px) {
      font-size: 5em;
      text-align: center;
    }
    font-weight: normal;
    color: $article-header;
    word-wrap: break-word;
    hyphens: auto;
    overflow-x:hidden;
  }

  .post-info {
    margin-top: -16px;
    overflow: hidden;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 300;
    font-size: 24px;

    .name {
      position: relative;
      color: $primary;
    }

    .value {
      position: relative;
      color: $secondary;

      + .value {
        color: $tertiary;
      }
    }

    .date {
      @include media(1500px) {
        float: right;
        margin-top: -26px;
      }
      font-size: 20px;
      position: relative;
      color: $tertiary;
    }
  }

  .post-content {
    @include media(1500px) {
      width: 100%;
    }
    width: 900px;
    margin: 0 auto;
  }
}
