@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');
// @font-face {
//   font-family: 'Bebas Neue';
//   font-weight: bold;
//   src: url('BebasNeue-Bold.woff') format('woff');
// }
// @font-face {
//   font-family: 'Bebas Neue';
//   font-weight: 300;
//   src: url('BebasNeue-Book.woff') format('woff');
// }
// @font-face {
//   font-family: 'Bebas Neue';
//   font-weight: 200;
//   src: url('BebasNeue-Light.woff') format('woff');
// }
// @font-face {
//   font-family: 'Bebas Neue';
//   font-style: normal;
//   font-weight: normal;
//   src: url('BebasNeue-Regular.woff') format('woff');
// }
// @font-face {
//   font-family: 'Bebas Neue';
//   font-weight: 100;
//   src: url('BebasNeue-Thin.woff') format('woff');
// }
@font-face {
  font-family: 'Bebas Neue';
  font-weight: normal;
  src: url('BebasNeue.woff')
}
