---
layout: default
---
<span class="NOTE-GOAT">
  <b>INERESTING FACT!</b> This site is not done yet. <br /> Feel free to take a look around at what has been finished so far.
</span>
<div class="homepage">
  {% for post in site.posts %}
     {% if post.featured == true %}
       <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a><div class="arrow-right"></div></h1>
       <div class="img" style="background-image:url('/img/post/{{ post.image }}')">
       </div>
       <div class="post-info">
         Posted in {{ post.category | capitalize }} | Posted <time class="post-date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
       </div>
       {% break %}
     {% endif %}
  {% endfor %}
</div>
