{% if include.feed %}

<div class="feed">
  {% for post in site.posts %}
     {% if (post.featured == true or post.feed-featured == true) and post.feed == include.feed %}
     {% assign featured_id = post.id %}
     <div class="post-item featured">
       <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
         <div class="img" style="background-image:url('/img/post/{{ post.image }}')">
           <h1>{{ post.title }}</h1>
           <div class="post-info">
            <span class="name">{{ post.type | capitalize }} / </span>{% if post.feed %}<span class="value">{{ post.feed | capitalize }} / </span>{% endif %}<span class="value">{{ post.category | capitalize }} / </span>
            <br />
            <time class="date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
           </div>
           <div class="arrow-right"></div>
         </div>
         </a>
     </div>
       {% break %}
     {% endif %}
  {% endfor %}
  {% for post in site.posts %}
     {% if post.id != featured_id and post.feed == include.feed %}
     <div class="post-item">
       <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
         <div class="img" style="background-image:url('/img/post/{{ post.image }}')">
           <h1>{{ post.title }}</h1>
           <div class="post-info">
            <span class="name">{{ post.type | capitalize }} / </span>{% if post.feed %}<span class="value">{{ post.feed | capitalize }} / </span>{% endif %}<span class="value">{{ post.category | capitalize }} / </span>
            <br />
            <time class="date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
           </div>
           <div class="arrow-right"></div>
         </div>
         </a>
     </div>
     {% endif %}
  {% endfor %}
</div>


{% else %}


<div class="feed">
  {% for post in site.posts %}
     {% if post.featured == true %}
     {% assign featured_id = post.id %}
     <div class="post-item featured">
       <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
         <div class="img" style="background-image:url('/img/post/{{ post.image }}')">
           <h1>{{ post.title }}</h1>
           <div class="post-info">
            <span class="name">{{ post.type | capitalize }} / </span>{% if post.feed %}<span class="value">{{ post.feed | capitalize }} / </span>{% endif %}<span class="value">{{ post.category | capitalize }} / </span>
            <br />
            <time class="date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
           </div>
           <div class="arrow-right"></div>
         </div>
         </a>
     </div>
       {% break %}
     {% endif %}
  {% endfor %}
  {% for post in site.posts %}
     {% if post.id != featured_id %}
     <div class="post-item">
       <a class="post-link" href="{{ site.baseurl }}{{ post.url }}">
         <div class="img" style="background-image:url('/img/post/{{ post.image }}')">
           <h1>{{ post.title }}</h1>
           <div class="post-info">
            <span class="name">{{ post.type | capitalize }} / </span>{% if post.feed %}<span class="value">{{ post.feed | capitalize }} / </span>{% endif %}<span class="value">{{ post.category | capitalize }} / </span>
            <br />
            <time class="date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ post.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
           </div>
           <div class="arrow-right"></div>
         </div>
         </a>
     </div>
     {% endif %}
  {% endfor %}
</div>


{% endif %}
