@keyframes underline {
  0% {
    width: 0;
    left: 0;
    visibility: visible;
  }

  40% {
    width: 100%;
    left: 0;
  }

  60% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 0;
  }
}

@keyframes flicker {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    80% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes infotrace {
  0% {
    stroke-dashoffset: 750;
    visibility: visible;
  }

  99% {
    stroke-dashoffset: 250;
    visibility: visible;
  }

  100% {
    stroke-dashoffset: 250;
    visibility: hidden;
  }
}
@keyframes moveDown {
  from {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateX(-500px) translateY(-500px) rotate(45deg);
  }

  to {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateX(500px) translateY(500px) rotate(45deg);
  }
}
@keyframes moveUp {
  from {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateX(500px) translateY(500px) rotate(45deg);
  }

  to {
    animation-timing-function: linear;
    opacity: 1;
    transform: translateX(-500px) translateY(-500px) rotate(45deg);
  }
}
