@import "animations";
@import "mixins";
@import "syntax-highlighting";
@import "normalize";
$background: #333 !default;
$foreground: #eee !default;
$muted: #666 !default;
$primary: #4CAF50 !default;
$secondary: #81C784 !default;
$tertiary: #C8E6C9 !default;

body {
  background: $background;
  font-family: 'Roboto', sans-serif;
  color: $foreground;
}

a {
  text-decoration: none;
  color: $primary;
  transition: color 0.2s;

  &:hover {
    color: $secondary;
    animation-name: flicker;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
  }
}

.NOTE-GOAT {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
}

.logo {
  .full-logo {
    max-width: 1200px;
    margin: 32px 32px 0;

    .letter {
      transition: fill 0.2s;
    }

    &:hover > #Logo > .letter {
      fill: $primary!important;
      animation-name: flicker;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
    }
  }
}

.content {
  position: relative;
  margin: 32px 160px 0 400px;

  h1 {
    font-family: 'Bebas Neue';
    font-size: 100px;
    font-weight: normal;
    text-shadow: -1px -1px 0 $background, 1px -1px 0 $background, -1px 1px 0 $background, 1px 1px 0 $background;
    text-decoration: none;
    line-height: 128px;
    color: $muted;
    margin: 0;
  }
}

.menu {
  top: 32px;
  float: left;
  z-index: 0;
  margin: 32px 0 0 32px;
  width: 400px;
  position: sticky;

  h1 {
    margin: 0;
    line-height: 128px;

    & > a {
      font-family: 'Bebas Neue';
      font-size: 100px;
      font-weight: normal;
      text-shadow: -1px -1px 0 $background, 1px -1px 0 $background, -1px 1px 0 $background, 1px 1px 0 $background;
      position: relative;
      text-decoration: none;
      color: $primary;
      transition: color 0.5s;

      &:before {
        content: "";
        position: absolute;
        height: 2px;
        bottom: 0;
        background-color: $secondary;
      }

      &:hover {
        animation-name: flicker;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        color: $secondary;

        &:before {
          animation-name: underline;
          animation-duration: 0.3s;
          animation-iteration-count: 1;
          animation-delay: 0.2s;
        }

        ~ .arrow-right {
          animation-name: flicker;
          animation-duration: 0.2s;
          animation-iteration-count: 1;
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 43.3px;
          border-color: transparent transparent transparent $secondary;
        }
      }
    }

    > .arrow-right {
      display: none;
      margin: 0 0 10px 16px;
    }
  }
}

.homepage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .post-item {
    width: 50%;
    padding: 16px 16px 0 0;
    box-sizing: border-box;
    display: inline-block;

    &.featured {
      width: 100%;
    }

    .post-link {
      animation: none !important;

      &:hover .img {
        background-color: #000;
        filter: brightness(1) grayscale(0);

        .post-info {
          .name {
            left: 0;
          }

          .value {
            transition: left 0.5s !important;
            left: 0;
          }

          .date {
            transition: left 0.3s 0.4s !important;
            left: 0;
          }
        }
      }

      .img {
        transition: background-color 0.2s, opacity 0.2s, filter 0.2s;
        filter: brightness(.7) grayscale(1);
        background-color: $background;
        background-blend-mode: screen;
        height: 500px;
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        h1 {
          margin: 0 0 0 16px;
          line-height: 128px;
          transition: color 0.5s;

          &:hover + .img {
            background-color: #000;
            filter: grayscale(0);
            opacity: 1;
          }

          & .arrow-right {
            margin: 0 0 10px 32px;
            display: inline-block;
            width: 0;
            height: 0;
            transition: border-color 0.5s;
            border-style: solid;
            border-width: 25px 0 25px 43.3px;
            border-color: transparent transparent transparent $muted;
          }
        }

        .post-info {
          position: absolute;
          bottom: 16px;
          left: 16px;
          overflow: hidden;
          font-family: 'Bebas Neue';
          font-weight: 200;
          font-size: 24px;

          .name {
            transition: left 0.2s;
            position: relative;
            color: $primary;
            left: -300px;
          }

          .value {
            transition: left 0.2s;
            position: relative;
            color: $secondary;
            left: -300px;
          }

          .date {
            transition: left 0.2s;
            position: relative;
            color: $tertiary;
            left: -300px;
          }
        }
      }

      &:hover h1 {
        animation-name: flicker;
        animation-duration: 0.2s;
        animation-iteration-count: 1;
        color: $secondary;

        & > .arrow-right {
          animation-name: flicker;
          animation-duration: 0.2s;
          animation-iteration-count: 1;
          border-color: transparent transparent transparent $secondary;
        }
      }
    }
  }
}

.info-button {
  position: fixed;
  right: 16px;
  bottom: 16px;

  .circ {
    fill: $primary;
    r: 35;
    transition: fill 0.2s;
  }

  .circa {
    r: 20;
    fill: none;
    stroke: $secondary;
    stroke-width: 2;
    animation-duration: 5s;
    stroke-dasharray: 250;
    stroke-dashoffset: 750;
    transform-origin: 50% 50%;
  }

  .info:hover > .circa {
    opacity: 1;
    animation: infotrace 0.4s 0.2s ease-in-out 1;
    transform: rotate(-90deg);
  }

  .info:hover > .circ {
    opacity: 1;
    fill: $secondary;
    animation-name: flicker;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
  }
}

.lines {
  position: fixed;
  z-index: -100;
  bottom: 0;
  left: 0;

  .line1 {
    @include animLine(moveDown, 1, 0s, $tertiary);
  }

  .line1-1 {
    @include animLine(moveDown, 1, 10s, $tertiary);
  }

  .line2 {
    @include animLine(moveUp, 0, 0s, $secondary);
  }

  .line2-2 {
    @include animLine(moveUp, 0, 10s, $secondary);
  }

  .line3 {
    @include animLine(moveDown, -1, 4s, $primary);
  }

  .line3-3 {
    @include animLine(moveDown, -1, 14s, $primary);
  }
}

.post {
  .post-img {
    height: 500px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .post-info {
    font-family: 'Bebas Neue';
    font-weight: 800;
    margin-top: 16px;
    color: $muted;
  }
}
