@mixin animLine($anim, $offset, $delay, $background) {
  height: 40px;
  background: $background;
  width: 400px;
  position: absolute;
  left: $offset*60px;
  bottom: $offset*60px;
  opacity: 0;
  z-index: -1;

  animation-name: $anim;
  animation-duration: 20s;
  animation-delay: $delay;
  animation-iteration-count: infinite;
}

@mixin media($max:0, $min:0, $orientation:0) {
  @if (($min != 0) and ($max == 0) and ($orientation == 0)) {
    @media screen and (min-width:$min) {
      @content;
    }
  }
  @if (($max != 0) and ($min == 0) and ($orientation == 0)) {
    @media screen and (max-width:$max) {
      @content;
    }
  }
  @if (($min != 0) and ($max != 0) and ($orientation == 0)) {
    @media screen and (min-width:$min) and (max-width: $max) {
      @content;
    }
  }
  @else {
    @media screen and (min-width:$min) and (max-width: $max) and (orientation: $orientation) {
      @content;
    }
  }
}
