@import "fonts";
@import "animations";
@import "mixins";
@import "normalize";

@include normalize();

$background: #333 !default; // Background for page
$foreground: #eee !default; // Text color
$muted: #666 !default; // Muted element/text color

// This doesn't use functions to calculate so the colors can be accessed from colors.yml
$primary: #4CAF50 !default; // Primary Highlight Color
$secondary: #81C784 !default; // Secondary Highlight Color
$tertiary: #C8E6C9 !default; // Tertiary Highlight Color

body {
  background: $background;
  font-family: 'Roboto', sans-serif;
  color: $foreground;
}

::selection {
  color: $foreground;
  background: $primary;
}

::-moz-selection {
  color: $foreground;
  background: $primary;
}

a {
  text-decoration: none;
  color: $primary;
  transition: color 0.2s;

  &:hover {
    color: $secondary;
    animation-name: flicker;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
  }
}

// Temporary Unfinished Notice
.NOTE-GOAT {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  padding: 8px;
  z-index: 10000;
  text-shadow: 0 0 3px #333;
}

// Main content of the site
.content {
  position: relative;
  margin: 32px 144px 16px 432px;

  ////////////////////
  // CONTENT STYLES //
  ////////////////////
  @import "content/style";
  @import "content/feed";
  @import "content/post";
  @import "content/page";
}

/////////////////////////
// MAIN ELEMENT STYLES //
/////////////////////////
@import "elements/menu";
@import "elements/info-button";
@import "elements/lines";
@import "elements/syntax-highlighting";
