// Style for info button in right hand corner

.info-button {
  @include media(800px) {
    filter: drop-shadow(0 0 15px darken(rgba(red($primary), green($primary), blue($primary), 0.5), 30%));
  }
  position: fixed;
  right: 16px;
  bottom: 16px;

  .circ {
    fill: $primary;
    r: 35;
    transition: fill 0.2s;
  }

  .circa {
    visibility: hidden;
    fill: none;
    stroke: $secondary;
    stroke-width: 2;
    animation-duration: 5s;
    stroke-dasharray: 250;
    stroke-dashoffset: 750;
    transform-origin: 50% 50%;
  }

  .info:hover > .circa {
    opacity: 1;
    animation: infotrace 0.4s 0.2s ease-in-out 1;
    transform: rotate(-90deg);
  }

  .info:hover > .circ {
    opacity: 1;
    fill: $secondary;
    // animation-name: flicker;
    // animation-duration: 0.2s;
    // animation-iteration-count: 1;
  }
}
