// Styles for animated lines in the bottom left corner

.lines {
  @include media(800px) {
    position: absolute;
    width: 100%;
    transform: rotateZ(-60deg);
    top: 420px;
    bottom:auto;
  }
  position: fixed;
  z-index: -100;
  bottom: 0;
  left: 0;

  .line1 {
    @include animLine(moveDown, 1, 0s, $tertiary);
  }

  .line1-1 {
    @include animLine(moveDown, 1, -10s, $tertiary);
  }

  .line2 {
    @include animLine(moveUp, 0, 0s, $secondary);
  }

  .line2-2 {
    @include animLine(moveUp, 0, -10s, $secondary);
  }

  .line3 {
    @include animLine(moveDown, -1, -4s, $primary);
  }

  .line3-3 {
    @include animLine(moveDown, -1, -14s, $primary);
  }
}
