// Style for Squizit Logo

.logo {
  @include media(1100px) {
    margin-bottom: 24px;
  }
  margin-bottom: 48px;
  a {

    animation-name: none;

    .full-logo {
      @include media(800px) {
        max-width: none;
        width: 100%;
      }
      max-width: 400px;

      .letter {
        transition: fill 0.2s;
        fill: $logo;
      }

      &:hover > #Logo > .letter {
        fill: $logo-hover !important;
      }
    }
  }
}
