// Style for Squizit Logo

.logo {
  margin-bottom: 48px;
  .full-logo {
    max-width: 400px;

    .letter {
      transition: fill 0.2s;
      fill: $logo;
    }

    &:hover > #Logo > .letter {
      fill: $logo-hover !important;
      animation-name: flicker;
      animation-duration: 0.2s;
      animation-iteration-count: 1;
    }
  }
}
