<!DOCTYPE html>
<html lang="en">
<head>
  <title>Squizit</title>

  <link rel="stylesheet" href="css/style.css" />

  <meta charset="utf-8">
  <meta name="title" content="Squizit" />
  <meta name="description" content="Making cool stuff to share with the world." />
  <meta name="keywords" content="squizit, squizit gaming" />
  <link rel="shortcut icon" href="favicons/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicons/favicon-32.png" sizes="32x32">
  <link rel="icon" href="favicons/favicon-48.png" sizes="48x48">
  <link rel="icon" href="favicons/favicon-96.png" sizes="96x96">
  <link rel="icon" href="favicons/favicon-144.png" sizes="144x144">
  <meta name="theme-color" content="#4CAF50">
  <meta property="og:site_name" content="Squizit" />
  <meta property="og:title" content="Home" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://squizit.net/" />
  <!-- <meta property="og:image" content="TODO: OG IMAGE" /> -->
  <!-- <meta property="og:image:type" content="image/png" /> -->
  <!-- <meta property="og:image:width" content="400" /> -->
  <!-- <meta property="og:image:height" content="300" /> -->
  <!-- <meta property="og:image:alt" content="A shiny red apple with a bite taken out" /> -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@Squizit_" />
  <meta name="twitter:creator" content="@b2550" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-104876043-1', 'auto');
    ga('send', 'pageview');
  </script>
  <span class="NOTE-GOAT">
    <b>INERESTING FACT!</b> This site is not done yet. <br /> Feel free to take a look around at what has been finished so far.
  </span>
  <div class="logo">
    <img class="full-logo" src="img/logo.svg" />
  </div>
  <div class="menu">
    <h1><a href="#">Create</a><div class="arrow-right"></div></h1>
    <h1><a href="#">Develop</a><div class="arrow-right"></div></h1>
    <h1><a href="#">Play</a><div class="arrow-right"></div></h1>
  </div>
  <div class="info-button">
    <a href="#">
      <svg class="info" height="100" width="100">
        <circle class="circa" cx="50" cy="50" />
        <circle class="circ" cx="50" cy="50" fill="#4CAF50" r="35" />
        <svg x="42" y="30">
          <path d="M5.633,0.484l5.594,0l0,5.594l-5.594,0l0,-5.594Zm-5.594,33.566l5.594,0l0,-16.783l-5.594,0l0,-5.595l11.188,0l0,22.378l5.595,0l0,5.594l-16.783,0l0,-5.594Z" style="fill:#fff;fill-rule:nonzero;"/>
        </svg>
      </svg>
    </a>
  </div>
  <div class="lines">
    <div class="line1"></div>
    <div class="line1-1"></div>
    <div class="line2"></div>
    <div class="line2-2"></div>
    <div class="line3"></div>
    <div class="line3-3"></div>
  </div>
</body>
</html>
