---
layout: default
---
<div class="post">
  {% if page.image %}
  <div class="post-img" style="background-image:url('/img/post/{{ page.image }}')"></div>
  {% endif %}
  <h1 class="post-title">{{page.title}}</h1>
  <div class="post-info">
   <span class="name">{{ page.type | capitalize }} /</span> <span class="value">{{ page.category | capitalize }} /</span>
   <br />
   <time class="date" datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ page.date | date: "%B %-d, %Y at %I:%M %p" }}</time>
  </div>
  <hr />
  <div class="post-content">
    {{content}}
  </div>
</div>
