---
theme-name: purple
---

$background: {{ site.data.colors.[page.theme-name].background }};
$foreground: {{ site.data.colors.[page.theme-name].foreground }};
$muted: {{ site.data.colors.[page.theme-name].muted }};

$primary: {{ site.data.colors.[page.theme-name].primary }};
$secondary: {{ site.data.colors.[page.theme-name].secondary }};
$tertiary: {{ site.data.colors.[page.theme-name].tertiary }};

@import 'base';
